
           <div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/roman">Roman</a>
                        <a href="/paul">Paul</a>
                        <a href="/sarah">Sarah</a>
                        <a href="/riley">Riley</a>
                    </li>
                </ul>
            </div>