<!DOCTYPE html>
<html>
  <head>
      <% include header %> <!---->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  

    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. Please click on a name above if you wish to have a look.</p>
  </body>
</html>
