<!DOCTYPE html>
<html>
  <head>
      <% include header %> <!---->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  

    <h1><%= title %></h1>
    <p>

      Paul also like me likes motorsports and sports both, as well as of course many other things that would be tough to all sum up here!

    </p>


    
  </body>
</html>
