<!DOCTYPE html>
<html>
  <head>
      <% include header %> <!---->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  

    <h1><%= title %></h1>
    <p>
    Riley likes pizza and Minecraft. That's it. Kids these days.
    </p>


    
  </body>
</html>
