<!DOCTYPE html>
<html>
  <head>
      <% include header %> <!---->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  

    <h1><%= title %></h1>
    <p>
    Roman (myself) enjoys many things, including, but not limited to motorsports, video games, and programming.
    </p>


    
  </body>
</html>
