<!DOCTYPE html>
<html>
  <head>
      <% include header %> <!---->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  

    <h1><%= title %></h1>
    <p>
    Sarah enjoys many things, chief amongst them being reading and spending time with the family.
    </p>


    
  </body>
</html>
